/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/
@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

body {
    color: #82a5ca;
    /* color: white; */
    /* background-image: url("images/universe.jpg"); */
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTI0Ymppc2pjMmMyMXVmczV0c3licWJhc3RwbWVuNWdpb2Rhb3BiNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

h1 {
    font-family: Corleone;
}

/* 
body {
    background: whitesmoke;
    color: whitesmoke;
    font-family: 'Rammetto One', cursive;
} */

.ad {
    background: #35654d;
    border: 5px solid #A3BC71;
    text-align: center;
}

.cta {
    border: 2px solid #A3BC71;
    padding: 5px 10px;
    background: #8F4737;
}

.underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 100px;
}